<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Guardar</title>
  
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css}">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</head>
<body>

    <div class="container"> 
        <br/>
        <h2 > Agregar Empleado   </h2>
    </div>
    
    <form action="#" th:action="@{/guardar/}" th:object="${empleado}" method="post">
    
    <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="nombre" placeholder="Ingresar Nombre"
                th:field="*{nombre}" name="nombre">
            </div>
            <input type="hidden" th:field="*{id}" name="id" id="id">
            
            <div class="mb-3">
              <label for="apellido" class="form-label">Apellido</label>
              <input type="text" class="form-control" id="apellido" placeholder="Ingresar Apellido"
                th:field="*{apellido}" name="nombre">
            </div>
            
            <div class="mb-3">
              <label for="edad" class="form-label">Edad</label>
              <input type="text" class="form-control" id="edad" placeholder="Ingresar Edad"
                th:field="*{edad}" name="edad">
            </div>
            
            <div class="mb-3">
              <label for="direccion" class="form-label">Dirección</label>
              <input type="text" class="form-control" id="direccion" placeholder="Ingresar Dirección"
                th:field="*{direccion}" name="direccion">
            </div>
            
            <div class="mb-3">
              <label for="telefono" class="form-label">Teléfono</label>
              <input type="text" class="form-control" id="telefono" placeholder="Ingresar Teléfono"
                th:field="*{telefono}" name="telefono">
            </div>
            
            <button type="submit" class="btn btn-dark">Guardar</button>
            
    
    </form>
    
     

</body>
</html>


