<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Spring & Mongo</title>
  
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css}">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</head>
<body>

    <div class="container"> 
        <br/>
        <h2 th:if="${list.isEmpty()}"> 
            No hay empleados 
        </h2>
    </div>
    
    <div class="container" th:if="!${list.isEmpty()}"> 
        <br/>
        <h2 > 
            Mantenimiento de empleados
        </h2>
        
	        <table class="table">
			  <thead>
			    <tr>
			      <th >Nombre</th>
			      <th >Apellido</th>
			      <th >Edad</th>
			      <th >Direccion</th>
			      <th >Telefono</th>
			      <th >Editar</th>
			      <th >Eliminiar</th>
			      <th >Telefono</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="empleado : ${list}"> 
			      <td th:text="${empleado.nombre}">
			      <td th:text="${empleado.apellido}">
			      <td th:text="${empleado.edad}">
			      <td th:text="${empleado.direccion}">
			      <td th:text="${empleado.telefono}">
			      <td> <a class="btn btn-primary" th:href="@{/guardar/{id}(id=${empleado.id})}"> Editar</td>
			      <td> <a class="btn btn-danger" th:href="@{/eliminar/{id}(id=${empleado.id})}"> Eliminar</td>
			    </tr>
			    
			  </tbody>
			</table>
        
    </div>
    
    <br/>
    
    <div>
            <a href="/guardar/0" class="btn btn-primary "> Agregar</a>
    </div>

</body>
</html>


